:root {
    --primary-color: #202020;
    --secondary-color: #252525;
    --primary-transparent: #202020EA;
    --font-color: #FFFFFF;
    --secondary-text-color: #CECECE;
}

[data-theme="light"] {
    --primary-color: #D0D0D0;
    --secondary-color: #BABABA;
    --primary-transparent: #D0D0D0DA;
    --font-color: #000000;
    --secondary-text-color: #505050;
}