body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #202020;
}

#main {
    border: none;
    height: 100vh;
    width: 100vw;
}

#xur {
    display: none;
    background-image: URL(assets/icons/xur-96.png);
    background-size: 19px 19px;
    width: 30px;
    margin-left: 3px;
}

#xur:hover {
    background-color: transparent;
}

@keyframes outline-pulse {
    0% {
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        transform: rotate(45deg);
    }
    50% {
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        transform: rotate(135deg);
    }
    100% {
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        transform: rotate(405deg);
    }
}

#xur::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: -1;
    border: 1px solid #FFFFFFBB;
    transform: rotate(45deg);
    animation-name: outline-pulse;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#xur::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-color: #599047AA;
    transition: top 0.2s ease;
}

#xur:hover::before {
    top: 90%;
}